<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
  <link rel="stylesheet" type = "text/css" href = "webjars/bootstrap/5.3.5/css/bootstrap.min.css" />
</head>
<body>
<div class = "card">
   <div class="card-header"><h1 class="title">Patients</h1></div>
  <div class = "card-body">

  <table class="table table-striped" >
    <thead>
    <tr>
      <th>
       Patient ID
      </th>

      <td> Patient Nom
      </td>

      <td>Gender</td>
      <td>Date Nissance</td>
      <td>Malade</td>
      <td>Score</td>
      <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
      <td th:text="${patient.id}"></td>
      <td th:text="${patient.nom}"></td>
      <td th:text="${patient.gender}"></td>
      <td th:text="${patient.dataNissance}"></td>
      <td th:text="${patient.malade}"></td>
      <td th:text="${patient.score}"></td>
      <td>
        <a  onclick="return confirm('are you sure?')" th:href="@{/delete(id=${patient.id})}" class="btn btn-danger"> Delete</a>
      </td>

    </tr>
    </tbody>
  </table>
  </div>


</div>

</body>
</html>